<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.bigstep.model.dao.FollowDao">
	
	<!-- insert -->
	<insert id="insertFollow" parameterType="hashmap">
		INSERT INTO follows
		VALUES (#{followerId}, #{followingId})
	</insert>
	
	
	<!-- delete -->
	<delete id="deleteFollow" parameterType="hashmap">
		DELETE FROM follows
		WHERE followerid = #{followerId} AND followingid = #{followingId}
	</delete>
	
	
	<!-- following 조회 -->
	<select id="selectFollowings" parameterType="String" resultType="User">
		SELECT * FROM users WHERE id IN 
		(SELECT followingid FROM follows WHERE followerid = #{followerId})
	</select>
	
	
	<!-- follower 조회 -->
	<select id="selectFollowers" parameterType="String" resultType="User">
		SELECT * FROM users WHERE id IN 
		(SELECT followerid FROM follows WHERE followingid = #{followingId})
	</select>
		
</mapper>