<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.bigstep.model.dao.LikeDao">
	
	<!-- insert -->
	<insert id="insertLike" parameterType="hashmap">
		INSERT INTO likes
		VALUES (#{diaryId}, #{userId})
	</insert>
	
	
	<!-- delete -->
	<delete id="deleteLike" parameterType="hashmap">
		DELETE FROM likes
		WHERE diaryid = #{diaryId} AND userid = #{userId}
	</delete>
	
	<!-- delete by userId -->
	<delete id="deleteLikesByUserId" parameterType="String">
		DELETE FROM likes
		WHERE userid = #{userId}
	</delete>
	
	
	<!-- delete by diaryId -->
	<delete id="deleteLikesByDiaryId" parameterType="int">
		DELETE FROM likes
		WHERE diaryid = #{diaryId}
	</delete>
</mapper>