<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.bigstep.model.dao.TodoDao">

	<insert id="insertTodo" parameterType="Todo"
		keyProperty="todoId" useGeneratedKeys="true">
		INSERT INTO todos (diaryid, userid, date, workout, start_hour, start_minute, end_hour, end_minute)
		VALUES (#{diaryId}, #{userId}, #{date}, #{workout}, #{startHour}, #{startMinute}, #{endHour}, #{endMinute})
	</insert>

	<delete id="deleteTodo" parameterType="int">
		DELETE FROM todos 
		WHERE todoId = #{todoId}
	</delete>

	<update id="updateTodo" parameterType="Todo">
		UPDATE todos 
		SET workout = #{workout}, start_hour = #{startHour}, start_minute = #{startMinute}, 
		end_hour = #{endHour}, end_minute = #{endHour}, is_complete = #{isComplete}
		WHERE todoId = #{todoId}
	</update>

	<select id="selectTodos" parameterType="int" resultType="Todo">
		SELECT todoid, diaryid, userid, date, workout, 
		start_hour as starthour, start_minute as startminute,
		end_hour as endhour, end_minute as endminute, is_complete as isComplete
		FROM todos 
		WHERE diaryId = #{diaryId}
	</select>

	<select id="selectTodo" parameterType="int" resultType="Todo">
		SELECT todoid, diaryid, userid, date, workout, 
		start_hour as starthour, start_minute as startminute,
		end_hour as endhour, end_minute as endminute, is_complete as isComplete
		FROM todos 
		WHERE todoId = #{todoId}
	</select>
</mapper>